.page{
    height: 100%;
}
.body{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    margin: 0;
    background-color: rgba(104, 175, 216, 0.342);
}
.title{

    font-weight: 100;
    font-size: 2rem;
    align-self: center;
    margin-bottom: 3rem;
}
.images{
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1rem;
    width: 100%;
    max-height: 65vh;
}
.image{
    height: 400px;
    width: 650px;
}

.main{
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem 0;
    
}

.wrapper{
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.wrapper__content{

}
.input{
    visibility: hidden;
    margin: 0;
}
.slider{
    display: flex;
    width: 500%;
    height: 100%;
}
.slider__item{
    box-sizing: border-box;
    width: 20%;
    padding: 0 2rem;
    text-align: center;
    transition: all 0.7s ease;
}
.slider__img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding: 0 5rem;
}
.text-wrapper{
    flex-direction: row;
    overflow: hidden;
}
.text{
    display: flex;
    align-items: center;
    width: 500%;
}
.text__item{
    width: 20%;
    font-size: 1.8rem;
    transition: all 0.7s ease;
}
.controls{
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}
.control{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.control__button{
    box-sizing: border-box;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #4ba6e2;
    border: 0.2rem solid #4ba6e2;
    border-radius: 50%;
    transition: all 0.5s ease;
}

#slide1:checked ~ .slider .slide_1,
#slide1:checked ~ .nav .text1{
    margin-left: 0;
}
#slide2:checked ~ .slider .slide_1,
#slide2:checked ~ .nav .text1{
    margin-left: -20%;
}
#slide3:checked ~ .slider .slide_1,
#slide3:checked ~ .nav .text1{
    margin-left: -40%;
}
#slide4:checked ~ .slider .slide_1,
#slide4:checked ~ .nav .text1{
    margin-left: -60%;
}
#slide5:checked ~ .slider .slide_1,
#slide5:checked ~ .nav .text1{
    margin-left: -80%;
}


#slide1:checked ~ .nav .control[for=slide1] .control__button,
#slide2:checked ~ .nav .control[for=slide2] .control__button,
#slide3:checked ~ .nav .control[for=slide3] .control__button,
#slide4:checked ~ .nav .control[for=slide4] .control__button,
#slide5:checked ~ .nav .control[for=slide5] .control__button{
    background-color: transparent;
}

@media (max-width: 820px){
    .nav{
        padding: 0 1rem;
        max-width: calc(100vw - 2rem);
        flex-direction: column;
    }
    .text-wrapper{
        max-width: calc(100vw - 2rem);
    }
    .title{
        box-sizing: border-box;
        padding: 0 5px;
    }
}